<aside class="aside">
    <ul class="genre-list">
        <% genreInfo.forEach(item => { %>
            <li class="list-group-item">
                <a href="/genre/<%= item.genre_id %>">
                    <%= item.genre %>
                </a>
            </li>
        <% }) %>
    </ul>
</aside>