<%- include('../partials/header'); %>

    <main class="main" id="404main">
        <div class="container">
            <img src="https://miro.medium.com/v2/resize:fit:1400/1*zE2qnVTJehut7B8P2aMn3A.gif" alt="404 Error. This page does not exists" class="d-block mx-auto img-fluid error-gif">
            <p class="error-text text-center">You have terrible taste in looking up pages.</p>
        </div>
    </main>

<%- include('../partials/footer'); %>